@import url('https://fonts.googleapis.com/css?family=Montserrat|Roboto&display=swap');

div{
    form{
        label{
            display: inline-block;
            padding: 12px;
            margin: 12px 0px 7px 0px;
            span{
                margin-bottom: 10px;
                display: inline-block;
                font-family: 'Montserrat', sans-serif;
                font-weight: 550;
            }
            input{
                width: 260px;
                height: 20px;
                margin-top: 1px 1px 0px;
                padding: 5px 10px;
                font-size: 14px;
                font-family: 'Roboto', sans-serif;
            }
        }
    }
}

.resrem{
    display: inline;
    font-size: 12px;
    margin-left: 12px;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    color: blue;
}

.checki{
    margin-left: 12px;
    margin-right: 7px;
}
span{
    margin-bottom: 10px;
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-weight: 550;
}
