@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');
.container{
    display: flex;
    margin: 100px 12px;
    padding: 12px;
    justify-content: space-around;
    .cAcc{
        padding: 20px;
        border: 1px solid black;
    }
    .lAcc{
        padding: 20px;
        border: 1px solid black;

    }
    h3{
        font-family: 'Rubik', sans-serif;
        font-weight: 580;
    }
}