<h1>UltimateAngular</h1>
<div class="container">
  <div class="cAcc">
  <app-auth-form
            (submitted)="createUser($event)">
          <h3>Create Account</h3>
          <button type="submit">Join Us</button>
          </app-auth-form>
  </div>
  
  <div class="lAcc">
  <app-auth-form
            (submitted)="loginUser($event)">
          <h3>Login</h3>
          <app-arem (checked)="RememberMe($event)"></app-arem>
          <button type="submit">Login</button>
          </app-auth-form>
  </div>
</div>